In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r'../JNB_data/survey_results_public.csv')

In [7]:
df

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

In [11]:
df.columns

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

In [14]:
pd.set_option('display.max_info_columns',80)

In [15]:
df.columns

Index(['ResponseId', 'MainBranch', 'Age', 'Employment', 'RemoteWork', 'Check',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       ...
       'JobSatPoints_6', 'JobSatPoints_7', 'JobSatPoints_8', 'JobSatPoints_9',
       'JobSatPoints_10', 'JobSatPoints_11', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'JobSat'],
      dtype='object', length=114)

In [17]:
df.YearsCode.value_counts()

YearsCode
10                    4561
5                     3723
6                     3496
8                     3449
7                     3333
4                     3290
15                    2813
20                    2636
12                    2559
3                     2518
9                     2251
14                    1822
25                    1671
2                     1642
11                    1636
13                    1477
30                    1461
16                    1401
18                    1228
17                    1038
40                     993
24                     870
22                     842
35                     735
1                      712
23                     634
26                     630
Less than 1 year       569
19                     561
21                     522
28                     512
27                     504
32                     328
34                     293
42                     289
38                     285
29                     274
45                     257
More than 50 years     254
36                     223
33                     219
37                     216
44                     195
43                     173
41                     147
31                     146
39                     145
46                      98
50                      77
48                      64
47                      63
49                      34
Name: count, dtype: int64

In [21]:
df['YearsCodeStr'] = df.YearsCode.astype('str')

In [26]:
def change_str_values(value):
    str_value = value.strip()
    if str_value == 'nan':
        return '0'
    elif str_value == 'More than 50 years':
        return '50'
    elif str_value == 'Less than 1 year':
        return '0'
    else:
        return str_value

In [35]:
df['YearsCodeStr2'] = df['YearsCodeStr'].apply(change_str_values)#, axis=1)

In [36]:
df['YearsCodeStr2'].value_counts()

YearsCodeStr2
0     6137
10    4561
5     3723
6     3496
8     3449
7     3333
4     3290
15    2813
20    2636
12    2559
3     2518
9     2251
14    1822
25    1671
2     1642
11    1636
13    1477
30    1461
16    1401
18    1228
17    1038
40     993
24     870
22     842
35     735
1      712
23     634
26     630
19     561
21     522
28     512
27     504
50     331
32     328
34     293
42     289
38     285
29     274
45     257
36     223
33     219
37     216
44     195
43     173
41     147
31     146
39     145
46      98
48      64
47      63
49      34
Name: count, dtype: int64

In [23]:
filt_ = df['YearsCodeStr'].apply(lambda x: '50' if x.strip() == 'More than 50 years' else x)

In [25]:
df.YearsCodeStr.value_counts()

YearsCode
nan                   5568
10                    4561
5                     3723
6                     3496
8                     3449
7                     3333
4                     3290
15                    2813
20                    2636
12                    2559
3                     2518
9                     2251
14                    1822
25                    1671
2                     1642
11                    1636
13                    1477
30                    1461
16                    1401
18                    1228
17                    1038
40                     993
24                     870
22                     842
35                     735
1                      712
23                     634
26                     630
Less than 1 year       569
19                     561
21                     522
28                     512
27                     504
32                     328
34                     293
42                     289
38                     285
29                     274
45                     257
More than 50 years     254
36                     223
33                     219
37                     216
44                     195
43                     173
41                     147
31                     146
39                     145
46                      98
50                      77
48                      64
47                      63
49                      34
Name: count, dtype: int64

In [40]:
df['YearsCodeStr3'] = df['YearsCodeStr2'].astype('int')

In [41]:
df['YearsCodeStr3']

0         0
1        20
2        37
3         4
4         9
         ..
65432     5
65433     0
65434     9
65435     5
65436     0
Name: YearsCodeStr3, Length: 65437, dtype: int32

In [45]:
df['Country'].value_counts()

Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Central African Republic                                    1
Equatorial Guinea                                           1
Niger                                                       1
Guinea                                                      1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

In [75]:
groupby_object = df.groupby('Country')

In [61]:
groupby_object.get_group('India')['YearsCodeStr3'].min() #reset_index(name='avg_years').sort_values('avg_years', ascending=False)

0

In [51]:
groupby_object['YearsCodeStr3'].value_counts(normalize=True)

Country      YearsCodeStr3
Afghanistan  0                0.232143
             10               0.125000
             6                0.089286
             7                0.071429
             3                0.071429
                                ...
Zimbabwe     50               0.038462
             0                0.038462
             2                0.038462
             31               0.038462
             23               0.038462
Name: proportion, Length: 3754, dtype: float64

In [63]:
[x .lower() for x in df.columns]

['responseid',
 'mainbranch',
 'age',
 'employment',
 'remotework',
 'check',
 'codingactivities',
 'edlevel',
 'learncode',
 'learncodeonline',
 'techdoc',
 'yearscode',
 'yearscodepro',
 'devtype',
 'orgsize',
 'purchaseinfluence',
 'buynewtool',
 'buildvsbuy',
 'techendorse',
 'country',
 'currency',
 'comptotal',
 'languagehaveworkedwith',
 'languagewanttoworkwith',
 'languageadmired',
 'databasehaveworkedwith',
 'databasewanttoworkwith',
 'databaseadmired',
 'platformhaveworkedwith',
 'platformwanttoworkwith',
 'platformadmired',
 'webframehaveworkedwith',
 'webframewanttoworkwith',
 'webframeadmired',
 'embeddedhaveworkedwith',
 'embeddedwanttoworkwith',
 'embeddedadmired',
 'misctechhaveworkedwith',
 'misctechwanttoworkwith',
 'misctechadmired',
 'toolstechhaveworkedwith',
 'toolstechwanttoworkwith',
 'toolstechadmired',
 'newcollabtoolshaveworkedwith',
 'newcollabtoolswanttoworkwith',
 'newcollabtoolsadmired',
 'opsyspersonal use',
 'opsysprofessional use',
 'officestackasynchaveworkedwith',
 'officestackasyncwanttoworkwith',
 'officestackasyncadmired',
 'officestacksynchaveworkedwith',
 'officestacksyncwanttoworkwith',
 'officestacksyncadmired',
 'aisearchdevhaveworkedwith',
 'aisearchdevwanttoworkwith',
 'aisearchdevadmired',
 'newsosites',
 'sovisitfreq',
 'soaccount',
 'sopartfreq',
 'sohow',
 'socomm',
 'aiselect',
 'aisent',
 'aiben',
 'aiacc',
 'aicomplex',
 'aitoolcurrently using',
 'aitoolinterested in using',
 'aitoolnot interested in using',
 'ainextmuch more integrated',
 'ainextno change',
 'ainextmore integrated',
 'ainextless integrated',
 'ainextmuch less integrated',
 'aithreat',
 'aiethics',
 'aichallenges',
 'tbranch',
 'icorpm',
 'workexp',
 'knowledge_1',
 'knowledge_2',
 'knowledge_3',
 'knowledge_4',
 'knowledge_5',
 'knowledge_6',
 'knowledge_7',
 'knowledge_8',
 'knowledge_9',
 'frequency_1',
 'frequency_2',
 'frequency_3',
 'timesearching',
 'timeanswering',
 'frustration',
 'professionaltech',
 'professionalcloud',
 'professionalquestion',
 'industry',
 'jobsatpoints_1',
 'jobsatpoints_4',
 'jobsatpoints_5',
 'jobsatpoints_6',
 'jobsatpoints_7',
 'jobsatpoints_8',
 'jobsatpoints_9',
 'jobsatpoints_10',
 'jobsatpoints_11',
 'surveylength',
 'surveyease',
 'convertedcompyearly',
 'jobsat',
 'yearscodestr',
 'yearscodestr2',
 'yearscodestr3']

In [64]:
df['LanguageHaveWorkedWith']

0                                                      NaN
1        Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...
2                                                       C#
3        C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...
4                  C++;HTML/CSS;JavaScript;Lua;Python;Rust
                               ...
65432                                                  NaN
65433                                                  NaN
65434                                                  NaN
65435             C;C++;Go;Lua;Objective-C;Python;Rust;SQL
65436     C;HTML/CSS;Java;JavaScript;PHP;Python;TypeScript
Name: LanguageHaveWorkedWith, Length: 65437, dtype: object

In [73]:
df['ispython'] = df['LanguageHaveWorkedWith'].str.lower().str.contains('python', na=False)

In [74]:
df['ispython'] #= df['LanguageHaveWorkedWith'].str.lower().str.contains('python')

0        False
1         True
2        False
3         True
4         True
         ...
65432    False
65433    False
65434    False
65435     True
65436     True
Name: ispython, Length: 65437, dtype: bool

In [103]:
df1 = groupby_object['ispython'].count()
groupby_object.get_group('India')['ispython'].count()

4231

In [86]:
df2 = df['Country'].value_counts()
df2

Country
United States of America                                11095
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
Ukraine                                                  2672
                                                        ...
Central African Republic                                    1
Equatorial Guinea                                           1
Niger                                                       1
Guinea                                                      1
Solomon Islands                                             1
Name: count, Length: 185, dtype: int64

In [90]:
df3 = pd.concat([df1,df2], axis=1)

In [95]:
df3

                                      ispython  count
Country
Afghanistan                                 56     56
Albania                                     49     49
Algeria                                     77     77
Andorra                                     15     15
Angola                                      20     20
...                                        ...    ...
Venezuela, Bolivarian Republic of...        69     69
Viet Nam                                   296    296
Yemen                                       18     18
Zambia                                      15     15
Zimbabwe                                    26     26

[185 rows x 2 columns]

In [77]:
groupby_object.count()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,EmbeddedHaveWorkedWith,EmbeddedWantToWorkWith,EmbeddedAdmired,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,MiscTechAdmired,ToolsTechHaveWorkedWith,...,AIChallenges,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Knowledge_9,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat,YearsCodeStr,YearsCodeStr2,YearsCodeStr3,ispython
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,56,56,56,56,40,56,40,56,53,34,20,48,35,49,32,33,33,31,31,38,24,47,45,41,37,33,30,28,23,23,34,29,26,18,14,14,20,18,17,34,...,23,28,19,20,15,14,14,12,12,12,12,11,11,16,15,15,20,19,17,16,20,20,19,21,21,21,21,21,21,21,21,21,42,40,12,19,56,56,56,56
Albania,49,49,49,49,38,49,38,49,47,29,21,44,37,47,32,32,28,26,31,34,16,43,36,30,37,29,24,33,25,21,32,26,24,13,11,8,30,23,18,35,...,30,32,19,18,16,14,14,14,15,14,13,14,15,15,14,13,15,16,16,16,16,16,16,18,18,18,18,18,18,18,18,18,41,39,11,16,49,49,49,49
Algeria,77,77,77,77,49,77,49,77,77,59,47,75,52,73,41,40,41,38,37,41,19,75,72,64,67,63,58,53,50,42,63,59,53,26,21,17,51,47,40,68,...,48,34,21,20,20,18,18,18,18,18,18,18,17,19,19,19,20,20,20,18,19,20,20,21,21,21,21,21,21,21,21,21,69,70,10,20,77,77,77,77
Andorra,15,15,15,15,10,15,10,15,14,12,9,14,12,14,9,9,9,9,9,10,6,14,14,12,10,9,7,9,8,5,8,8,7,6,4,3,7,5,4,9,...,8,7,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,11,11,2,2,15,15,15,15
Angola,20,20,20,20,15,20,14,20,18,13,9,18,13,17,11,9,10,9,10,13,6,18,17,12,18,17,14,15,12,9,17,14,9,10,8,6,14,11,9,13,...,13,12,9,7,7,7,6,7,7,6,6,7,6,8,8,8,8,8,8,7,8,8,8,10,10,10,10,10,10,10,10,10,16,15,3,8,20,20,20,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",69,69,69,69,59,69,59,69,69,61,52,68,58,69,55,55,55,54,55,55,42,65,62,55,59,53,49,42,34,29,59,52,47,16,12,10,37,31,27,59,...,43,46,32,32,32,30,29,31,31,31,30,30,30,32,31,31,31,31,32,32,32,32,32,32,32,32,32,32,32,32,32,32,67,68,35,32,69,69,69,69
Viet Nam,296,296,296,296,200,296,199,296,296,245,199,293,207,294,179,178,174,176,175,181,92,286,266,230,245,210,183,204,174,151,232,200,185,100,62,55,194,159,139,249,...,221,180,135,135,129,123,126,126,125,125,123,123,121,122,123,115,129,128,124,123,128,130,130,134,134,135,135,135,135,135,135,135,268,271,64,132,296,296,296,296
Yemen,18,18,18,18,12,18,12,18,17,14,11,17,12,17,8,9,7,7,8,10,5,14,13,12,13,12,10,11,8,5,13,12,11,8,3,3,12,9,8,13,...,12,5,3,2,2,2,1,1,1,1,1,1,1,0,0,1,3,2,3,2,2,2,3,3,3,3,3,3,3,3,3,3,15,13,5,3,18,18,18,18
Zambia,15,15,15,15,12,15,12,15,14,10,7,14,8,15,8,9,9,9,9,9,8,13,13,10,12,11,9,11,8,7,12,12,10,7,6,6,9,8,7,13,...,12,6,6,6,6,5,6,6,6,6,6,6,6,6,6,5,6,6,5,6,6,6,6,6,6,6,6,6,6,6,6,6,14,15,5,6,15,15,15,15
Zimbabwe,26,26,26,26,20,26,20,26,26,23,19,25,22,26,18,18,18,18,18,18,15,26,25,20,26,25,21,23,20,19,26,20,20,10,9,9,21,17,15,26,...,22,17,14,14,13,13,13,13,13,13,13,13,13,13,13,13,13,14,14,13,14,14,14,14,14,14,14,14,14,14,14,14,24,25,11,14,26,26,26,26